<%= form_with(model: @album, local: true, html: { class: "album-form" }) do |form| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nom, class: "form-label" %>
    <%= form.text_field :name, class: "form-input" %>
  </div>

  <div class="field">
    <%= form.label :Année, class: "form-label" %>
    <%= form.number_field :year, class: "form-input" %>
  </div>

  <div class="field">
  <%= form.label :private, "Privé ?" %>
  <%= form.check_box :private %>
</div>

<div class="field">
  <%= form.label :password, "Mot de Passe (pour les albums privés)" %>
  <%= form.password_field :password %>
</div>

  <div class="actions">
    <%= form.submit 'Enregistrer l\'album', class: "btn-primary" %>
  </div>
<% end %>
