<h1 class="album-title">Supprimer des photos de <%= @album.name %></h1>

<%= form_with url: delete_photos_album_path(@album), method: :delete do %>
  <div class="photos-grid">
    <% @photos.each do |photo| %>
      <div class="photo-thumbnail">
        <%= check_box_tag 'photo_ids[]', photo.id %>
        <%= image_tag photo.image, class: 'album-photo' %>
      </div>
    <% end %>
  </div>
  <br>
  <%= submit_tag 'Supprimer', data: { confirm: 'Veux-tu vraiment supprimer tes photos ?' }, class: 'btn-danger'%>
<% end %>
  <br>
<%= link_to 'Retour à l\'album', album_path(@album), class: 'btn-back' %>
