<div class="header-actions">
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to 'Nouvel Album', new_album_path, class: 'btn-create-album' %>
  <% end %>
</div>

<div class="albums-container">
  <% @albums.each do |album| %>
    <div class="album-preview">
      <div class="image-container">
        <%= link_to album_path(album) do %>
          <% if album.photos.any? %>
            <%= image_tag album.photos.sample.image, class: "album-thumbnail" %>
          <% else %>
            <%= image_tag 'default_album.jpg', class: "album-thumbnail", alt: "Album vide" %>
          <% end %>
        <% end %>
        <% if user_signed_in? && current_user.admin? %>
          <%= link_to edit_photos_album_path(album), class: 'edit-icon' do %>
            <i class="fas fa-edit"></i> <!-- Icône Font Awesome -->
          <% end %>
        <% end %>
      </div>
      <h2 class="album-title-light">
        <%= album.name %> (<%= album.photos.count %>)
      </h2>
    </div>
  <% end %>
</div>
