<h1 class="album-title-high"><%= @album.name %></h1>

<%= render 'carousel', photos: @photos %>

<div class="theme-toggle-container" style="text-align: right; margin-bottom: 20px;">
  <button id="theme-toggle-btn" class="btn-primary">Mode sombre</button>
</div>

<% if user_signed_in? && current_user.admin? %>
  <div class="photo-management">

    <div class="button-group">
      <!-- Bouton pour afficher le formulaire -->
      <button id="toggle-form-btn" class="btn-primary">Ajouter une photo</button>

      <!-- Boutons pour supprimer des photos et l'album -->
      <%= link_to 'Supprimer des photos', edit_photos_album_path, class: 'btn-danger' %>
      <%= link_to 'Supprimer l\'album', @album, method: :delete, data: { confirm: 'Es-tu sûr?' }, class: 'btn-danger' %>
    </div>

    <!-- Formulaire caché initialement -->
    <div id="photo-form-container" class="form-container" style="display: none;">
      <%= form_with model: [@album, Photo.new], local: true, html: { class: 'photo-form' } do |f| %>
        <div class="form-group">
          <%= f.label :image, "Ajouter une image", class: 'form-label' %>
          <%= f.text_field :image, class: 'form-input' %>
        </div>

        <div class="form-group">
          <%= f.label :description, "Description", class: 'form-label' %>
          <%= f.text_area :description, class: 'form-textarea' %>
        </div>

        <div class="form-actions">
          <%= f.submit 'Ajouter une photo', class: 'btn-primary' %>
        </div>
      <% end %>
    </div>

    <!-- Bouton pour basculer entre le carrousel et la vue en grille -->
    <div style="margin-top: 20px;">
      <%= link_to params[:view] == 'full' ? 'Vue Carrousel' : 'Vue Album', album_path(@album, view: params[:view] == 'full' ? nil : 'full'), class: 'btn-primary' %>
    </div>
  </div>
<% end %>

<!-- Affichage des photos en dessous du carrousel si la vue complète est activée -->
<% if params[:view] == 'full' %>
  <div class="photo-grid">
    <% @photos.each do |photo| %>
      <div class="photo-item">
        <%= image_tag photo.image, class: "photo-fullsize" %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="back-link" style="margin-top: 40px; text-align: center;">
  <%= link_to 'Retour aux albums', root_path, class: 'btn-back' %>
</div>

<div id="imageModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImage">
</div>
