<h1><%= @album.name %></h1>

<%= render 'carousel', photos: @photos %>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Supprimer des photos', edit_photos_album_path %>
  <%= form_with model: [@album, Photo.new], local: true do |f| %>
    <%= f.label :image %>
    <%= f.text_field :image %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.submit 'Add Photo' %>
  <% end %>

  <%= button_to 'Delete Album', @album, method: :delete, data: { confirm: 'Es-tu sure?' } %>
  <% end %>

  <%= link_to 'Retour aux albums', root_path %>
