<h1 class="album-title-high"><%= @album.name %></h1>

<%= render 'carousel', photos: @photos %>

<!-- Bandeau d'icônes sticky à gauche de l'écran -->
<div class="icon-bar-sticky">

  <!-- Icône pour basculer entre la vue carrousel et la vue album (Visible pour tous les utilisateurs) -->
  <%= link_to album_path(@album, view: params[:view] == 'full' ? nil : 'full'), id: 'toggle-view-btn', class: 'icon-btn', title: params[:view] == 'full' ? 'Vue Carrousel' : 'Vue Album' do %>
    <i class="fas <%= params[:view] == 'full' ? 'fa-images' : 'fa-th' %>"></i>
  <% end %>

  <!-- Icône pour basculer entre le mode sombre et le mode clair (Visible pour tous les utilisateurs) -->
  <%= link_to '#', id: 'theme-toggle-btn', class: 'icon-btn' do %>
    <i class="fas fa-moon"></i> <!-- Icône lune pour mode sombre -->
  <% end %>

  <% if user_signed_in? && current_user.admin? %>
    <!-- Icône pour ajouter une photo (Visible uniquement pour l'admin) -->
    <%= link_to '#', id: 'toggle-form-btn', class: 'icon-btn' do %>
      <i class="fas fa-plus"></i>
    <% end %>

    <!-- Icône pour supprimer l'album (Visible uniquement pour l'admin) -->
    <%= link_to @album, method: :delete, data: { confirm: 'Es-tu sûr de vouloir supprimer ton album ?' }, class: 'icon-btn', title: 'Supprimer l\'album' do %>
      <i class="fas fa-times"></i>
    <% end %>

    <% if params[:view] == 'full' %>
      <!-- Icône pour supprimer des photos, visible seulement en mode album (Visible uniquement pour l'admin) -->
      <%= link_to '#', id: 'toggle-delete-mode-btn', class: 'icon-btn', title: 'Supprimer des photos' do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    <% end %>
  <% end %>

</div>

<% if user_signed_in? && current_user.admin? %>

  <!-- Formulaire caché initialement -->
  <div id="photo-form-container" class="form-container" style="display: none;">
    <%= form_with model: [@album, Photo.new], local: true, html: { class: 'photo-form' } do |f| %>
    <!-- Conteneur pour les champs URL -->
    <div id="url-fields-container">
      <div class="form-group">
        <%= f.label :image, "Ajouter une image", class: 'form-label' %>
        <%= f.text_field :image, name: 'photo[images][]', class: 'form-input' %>
      </div>
    </div>

    <!-- Bouton pour ajouter un nouveau champ URL -->
    <div class="add-photos-section">
      <%= link_to '#', id: 'add-photo-btn', class: 'icon-btn', title: 'Ajouter un autre champ' do %>
        <i class="fas fa-plus"></i>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Description", class: 'form-label' %>
      <%= f.text_area :description, class: 'form-textarea' %>
    </div>

    <div class="form-actions">
      <%= f.submit 'Ajouter une photo', class: 'btn-primary' %>
    </div>
  <% end %>
  </div>
<% end %>

<!-- Affichage des photos en dessous du carrousel si la vue complète est activée -->
<% if params[:view] == 'full' %>
  <%= form_with url: delete_photos_album_path(@album), method: :delete, id: 'delete-photos-form' do %>
    <div class="photo-grid">
      <% @photos.each do |photo| %>
        <div class="photo-item">
          <label class="photo-checkbox-label">
            <%= check_box_tag 'photo_ids[]', photo.id, false, class: 'photo-checkbox', style: 'display: none;' %>
            <%= image_tag photo.image, class: "photo-fullsize" %>
          </label>
        </div>
      <% end %>
    </div>
    <br>
    <%= submit_tag 'Supprimer les photos sélectionnées', data: { confirm: 'Veux-tu vraiment supprimer ces photos ?' }, class: 'btn-danger', id: 'delete-photos-submit', style: 'display: none;' %>
  <% end %>
  <div class="pagination" style="text-align: center">
    <%= paginate @photos %>
  </div>
<% end %>

<div class="back-link" style="margin-top: 40px; text-align: center;">
  <%= link_to 'Retour aux albums', root_path, class: 'btn-back' %>
</div>

<div id="imageModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="modalImage">
</div>
